<h1> <%= @article.title %> </h1>
<p> <%= @article.body %> </p>
<br><br>
<%= link_to "Link to Article List", articles_path %>
<br><br>

<%= link_to "Edit Article", edit_article_path(@article) %>
<br><br>

<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Do you really want to delete this article?"}  %>
<br><br>